@font-face {
    font-family: 'la -solid -900';
    src: url('../fonts/la-solid-900.ttf') format('truetype');
}
@font-face {
    font-family: 'la -brands -400';
    src: url('../fonts/la-brands-400.ttf') format('truetype');
}

html {
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 500;
}
body, html, button, input, textarea {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #050000;
    font-size: 1rem;
    line-height: 1.5rem;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    display: block;
    border: none;
    border-bottom: 2px solid #464242;
    padding: 5px 0;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    background: none;
}

textarea {
    resize: vertical;
}

a {
    color: #050000;
    text-decoration: none;
}
a:hover {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 0;
    line-height: normal;
}
button:focus {
    outline: none;
}

main {
    position: relative;
    padding-top: 80px;
}

.button {
    border: 2px solid #050000;
    padding: 18px 36px;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.2s;
}
.button:hover {
    box-shadow: 5px 5px 0 #3FFFB2;
}

.button:focus {
    background-color: #24ee9d;
}

.button-colored {
    background-color: #24ee9d;
    padding: 14px 25px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.6875rem;
    letter-spacing: 1px;
    transition: 0.2s;
}
.button-colored:hover {
    box-shadow: 5px 5px 0 #000000;
    background: #3FFFB2;
}

.scroll-up {
    font-family: 'la -solid -900', serif;
    font-size: 1.6rem;
    color: #050000;
    padding: 21px;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    background: #FFFFFF;
    bottom: 0;
    right: 0;
    z-index: 5;
}

.scroll-up:hover {
    background-color: #24ee9d;
    color: #050000;
}

.document-link {
    font-size: 0.875rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    line-height: 1rem;
}
.document-link__icon {
    margin-right: 20px;
    border-radius: 8px;
    background-color: #ffe6e2;
    padding: 10px 12px;
}
.document-link__icon span {
    display: block;
    font-size: 0.6875rem;
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #ff0000;
    padding: 18px 2px 2px 2px;
}
.document-link__text {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: #ff0000 0 2px;
    padding-bottom: 20px;
    transition: 0.2s;
}
.document-link:hover .document-link__text {
    box-shadow: #ff0000 0 6px;
}


.form {
    width: 100%;
}
.form__field {
    margin: 30px 0;
    position: relative;
}
.form__field:last-child {

}
.form__field-name {
    color: #707070;
    position: absolute;
    pointer-events: none;
    transition: 0.2s;
}
.form__field.active .form__field-name, .form__field.is-filled .form__field-name {
    font-size: 0.875rem;
    margin-top: -20px;
}
.form__field.active .form__field-name {
    color: #3FFFB2;
}
.form__input-text, .form__textarea {
    padding: 3px 0 8px 0;
    transition: border-bottom-color 0.2s;
}
.form__field.active .form__input-text, .form__field.active .form__textarea {
    border-bottom-color: #3FFFB2;
}
.form__submit {
    margin-top: 15px;
}
.form__checkbox-container {
    display: flex;
    align-items: center;
}
.form__checkbox {
    opacity: 0;
    position: absolute;
}
.form__checkbox-styled-box {
    border: 2px solid #050000;
    width: 15px;
    height: 15px;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s;
    box-sizing: content-box;
}
.form__checkbox-container.active .form__checkbox-styled-box {
    background: #24ee9d;
    border-color: #24ee9d;
}
.form__checkbox-styled-box:before {
    position: absolute;
    content: '\F00C';
    font-family: 'la -solid -900', serif;
    font-weight: bold;
    font-size: 1.5rem;
    top: -8px;
    left: -1px;
    pointer-events: none;
    opacity: 0;
    transition: 0.4s cubic-bezier(.47,1.64,.41,.8);
    transform: scale(0.5) translateY(5px) scaleY(1.5);
}
.form__checkbox-container.active .form__checkbox-styled-box:before {
    opacity: 1;
    transform: scale(1) translateY(0) scaleY(1);
}
.form__checkbox-label {
    cursor: pointer;
}
.form__checkbox:focus + .form__checkbox-styled-box {
    outline: rgba(36, 143, 238, 0.5) solid 2px;
}
.form__checkbox-label a {
    border-bottom: 1px solid #3FFFB2;
}

.landing-background {
    position: fixed;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    border: 12px solid #24EE9D;
}
body:before {
    content: '';
    position: fixed;
    background: #24EE9D;
    top: 0;
    left: 0;
    width: 100%;
    height: 12px;
    z-index: 10;
}
body:after {
    content: '';
    position: fixed;
    background: #24EE9D;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12px;
    z-index: 1;
}

.regular-container {
    max-width: 1140px;
    margin: 0 auto;
    min-height: inherit;
    padding: 0 30px;
    box-sizing: content-box;
}
.regular-slide {
    position: relative;
    min-height: 100vh;
    z-index: 2;
}
.regular-slide .regular-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.header-wrapper {
    top: 12px;
    position: fixed;
    z-index: 10;
    background: #FFF;
    padding: 0 5px 10px 5px;
    width: calc(100% - 24px);
    margin: 0 12px;
    box-sizing: border-box;
}
.header-container {
    padding: 0 10px;
}
header {
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
    transition: 0.2s;
}
header.minimize {
    margin: 10px 0 0 0;
}

.header__logo {
    display: block;
    width: 138px;
    height: 63px;
    background-image: url(../img/logo-anim-min.gif);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.2s;
}
header.minimize .header__logo {
    background-image: url(../img/logo-black.png);
    width: 72px;
    height: 54px;
}

.mobile-menu-button {
    width: 30px;
    margin: 0 20px 0 0;
    padding: 10px 0;
    display: none;
    cursor: pointer
}

.mobile-menu-button__string {
    margin-bottom: 7px;
    width: 30px;
    height: 2px;
    background: #050000;
    border-radius: 5px;
    transition: margin-bottom 0.2s 0.2s, width 0s 0.2s, margin-left 0s 0.2s, transform 0.2s 0s, opacity 0.2s 0.2s;
}
/*
.mobile-menu-button__string.mmb-string-1 {
    width: 80%;
    margin-left: 20%;
}
.mobile-menu-button__string.mmb-string-2 {
    width: 100%;
    margin-left: 0;
}*/
.mobile-menu-button__string.mmb-string-3 {
    margin-bottom: 0;
    /*width: 50%;
    margin-left: 50%;*/
}

.main-menu {
    margin-left: 70px;
    transition: 0.2s;
}
header.minimize .main-menu {
    margin-left: 46px;

}
.main-menu ul {
    display: flex;
    margin: 0;
    padding: 0;
}
.main-menu li {
    list-style-type: none;
    margin-right: 27px;
    font-size: 1.125rem;
    transition: 0.2s;
}
header.minimize .main-menu li {
    font-size: 0.9375rem;
    margin-right: 23px;
}
.main-menu a {
    position: relative;
}
.main-menu a:after {
    content: '';
    height: 2px;
    width: 100%;
    transition: 0.2s;
    background: #3FFFB2;
    position: absolute;
    bottom: -7px;
    left: 0;
    transform: scale(0);
}
.main-menu a:hover:after {
    height: 2px;
     transform: scale(1);
}
.main-callback {
    margin-left: auto;
}
.main-callback .button {
}

.slide-main__container {
    height: 100vh;
}
.slide-main__content-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}
.slide-main__content {
    display: flex;
}

.slide-main__text-title {
    font-size: 2.65rem;
    line-height: 3.6rem;
}
.slide-main__text-subtitle {
    font-size: 1.13rem;
    line-height: 1.8;
    margin-top: 40px;
}
.slide-main__text {
    margin-right: 50px;
    flex: 1 1;
}
.slide-main__image {
    flex: 1 1;
}
.slide-main__image img {
    width: 100%;
}
.slide-main__button-details {
    margin-top: 44px;
}

.regular-slide {
    margin: 30px 0;
}

.slide__title {
    font-size: 2.65rem;
    line-height: 3.6rem;
    font-weight: 700;
    margin-bottom: 50px;
}

.modal-dialog {
    max-width: 590px;
}
.modal-btn-close {
    position: absolute;
    font-family: 'la -solid -900', serif;
    z-index: 2;
    right: 14px;
    top: 14px;
    opacity: 1;
    font-size: 26px;
}
.modal-content {
    border: 12px solid #24ee9d;
    border-radius: 0;
    background-clip: border-box;
}
.modal-body {
    padding: 66px 70px;
}
.modal-title {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0,0)  scale(0.95);
    transform: translate(0,0) scale(0.95);
    transition: transform .2s ease-out;
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0,0)  scale(1);
    transform: translate(0,0) scale(1);
}

/* ********************** */

.for-whom__content {
    display: flex;
    width: 100%;
}

.for-whom__blocks {
    max-width: 474px;
    flex-grow: 1;
}
.for-whom__block {
    margin-bottom: 18px;
    padding: 28px 38px;
    border-radius: 2px;
    border: 2px solid #cecece;
    display: flex;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.4s;
    transform: scale(0.5) translateX(-100px);
}
.for-whom__block.block-2 {
    transition: 0.4s 0.2s;
}
.for-whom__block.block-3 {
    transition: 0.4s 0.4s;
}
.slide-for-whom.show .for-whom__block {
    opacity: 1;
    transform: scale(1) translateY(0);
}
.for-whom__block-text {
    font-size: 1.51rem;
    line-height: 2.2rem;
    font-weight: 600;
}
.for-whom__block-rects {
    width: 116px;
    height: 73px;
    margin-right: 42px;
    position: relative;
}
.for-whom__block-rects-icon {
    background-image: url(../img/blank-rect.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.for-whom__block-rects-fill {
    position: absolute;
}
.block-1 .for-whom__block-rects-fill {
    top: 67.5%;
    left: 1.5%;
    width: 52%;
    height: 31%;
    transition: 1s 1s;
}
.block-2 .for-whom__block-rects-fill {
    top: 35%;
    left: 12%;
    width: 52%;
    height: 30%;
    transition: 1s 1.5s;
}
.block-3 .for-whom__block-rects-fill {
    top: 2%;
    left: 46.5%;
    width: 52%;
    height: 31%;
    transition: 1s 2s;
}
.slide-for-whom.show .for-whom__block-rects-fill {
    background: rgba(36,238,157,0.8);
}

.for-whom__text {
    margin-top: 18px;
    margin-left: 80px;
    max-width: 486px;
}
.for-whom__title {
    font-size: 1.51rem;
    line-height: 2.2rem;
    font-weight: 600;
}
.for-whom__description {
    margin-top: 30px;
    font-size: 1rem;
    line-height: 1.9375;
    color: #707070;
}

.for-whom__button-consultation {
    margin-top: 40px;
}


/* **************** */


.analytics__content {
    display: flex;
}

.analytics__pie {
    max-width: 337px;
    padding: 36px;
    border-radius: 2px;
    border: 1px solid #cecece;
    background-color: #f9f9f9;
    box-sizing: border-box;
    position: relative;
    height: fit-content;
}
.analytics__pie-counter {
    position: absolute;
    line-height: 0;
    text-align: center;
    top: 50%;
    left: 0;
    width: 100%;
    font-weight: 700;
}
.analytics__pie-counter-num {
    font-size: 1.6875rem;
}

.analytics__text {
    margin-left: 80px;
    margin-top: 18px;
    max-width: 560px;
    flex: 1 1;
}
.analytics__title {
    font-size: 1.51rem;
    line-height: 2.2rem;
    font-weight: 600;
}
.analytics__description {
    margin-top: 30px;
    font-size: 1rem;
    line-height: 1.9375;
    color: #707070;
}
.analytics__document-link {
    margin-top: 30px;
}

/* **************** */

.slide-our-work .slide__title {
    position: relative;
    z-index: 1;
    flex: 1 0 auto;
}

.slide-our-work-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    min-height: inherit;
}

.slide-our-work__line {
    margin-top: 267px;
    margin-left: 12px;
    position: relative;
}

#point-at {
    opacity: 0;
    transition: 0.1s;
}
#point-at-wrapper {
    opacity: 0;
    transition: 0.1s;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        r: 5;
    }

    70% {
        r: 18;
    }

    100% {
        opacity: 0;
    }
}

.slide-our-work.show .slide-our-work__line #point-at {
    opacity: 1;
}
.slide-our-work.show .slide-our-work__line #point-at-wrapper {
    opacity: 1;
}


.our-work__steps {
}
.our-work__step {
    position: absolute;
}
.our-work__header-num {
    color: #cecece;
    font-weight: 600;
    font-size: 1.1rem;
}
.our-work__header-name {
    font-weight: 600;
    font-size: 1.1rem;
}

.our-work__description {
    width: 292px;
    margin-top: 80px;
    color: #707070;
    position: absolute;
    transform: translateY(-5px) scale(0.9);
    transition: 0.6s;
    opacity: 0;
}
.our-work__step.active .our-work__description {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.our-work__picture {
    height: 206px;
    width: 371px;
    position: absolute;
}

.our-work__img {
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.55);
    width: 100%;
    height: 100%;
    border-radius: 3px;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(5px) scale(1);
}

.our-work__step.active .our-work__img {
    opacity: 0.6;
    transform: translateY(0) scale(1);
}

/* **************** */

.slide-example {
    z-index: 0;
}
.slide-background {
    box-sizing: border-box;
    width: calc(100% - 24px);
    height: 100%;
    position: absolute;
    background: #f5f5f5;
    margin: 0 12px;
    z-index: 0;
}
.slide-background__colored {
    position: absolute;
    width: calc(100% - 100px);
    height: 100%;
    right: 0;
    top: 0;
    background: #050000;
    transition: 0.2s 0.2s;
}
.slide-example__wrapper {
    display: flex;
    min-height: inherit;
    position: relative;
    z-index: 1;
}

.slide-example__wrapper .regular-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.slide-example__content {
}

.slide-example__text {
    max-width: 346px;
    margin-right: 30px;
    flex: 1 1 0;
}
.slide-example__slider-wrapper {

}
.slide-example__description {
    margin-top: 57px;
    color: #707070;
    line-height: 1.9375rem;
}
.slide-example__document-link {
    margin-top: 60px;
}

.slide-example__slider {
    width: 622px;
    height: 349px;
}
.slide-example__slide-pic {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.slider__bottom-bar {
    display: flex;
    justify-content: space-between;
}
.slide-example__navigation {
    display: flex;
}

.slide-example__nav {
    position: relative;
    font-family: 'la -solid -900', serif;
    font-size: 1.5rem;
    color: #FFFFFF;
    padding: 24px;
    cursor: pointer;
    transition: 0.2s;
}
.slide-example__nav:first-child:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 13px;
    background: #3FFFB2;
    top: calc(50% - 6px);
    right: 0;
}
.slide-example__nav:first-child:hover {
    color: #000000;
    background: #3FFFB2;
}
.slide-example__nav:first-child {
    padding: 24px 25px;
}
.slide-example__nav:last-child:hover {
    color: #000000;
    background: #3FFFB2;
    margin-left: -2px;
    padding: 24px 25px;
}

.slide-example__counter {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.slide-example__progress-bar {
    margin: 0 30px;
    width: 50px;
    height: 2px;
    background: #cecece;
    position: relative;
}
.slide-example__progress-bar-fill {
    position: absolute;
    background: #24ee9d;
    width: 100%;
    height: 100%;
}
.slide-example__progress-bar-fill.c {
    width: 0;
}
.slide-example__curr-count {
    width: 10px;
}


/* **************** */

.slide-why-we {
    overflow: hidden;
    z-index: 0;
}

.slide-why-we-container {
    display: flex;
    flex-wrap: wrap;
    min-height: inherit;
    align-content: center;
    max-width: 1140px;
    margin: 0 auto;
    color: #FFFFFF;
}

.slide-why-we__content {
    padding-left: 159px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.slide-why-we__text {
    max-width: 338px;
}
.slide-why-we__description {
    margin-top: 50px;
    color: #cecece;
    line-height: 1.9375rem;
}
.slide-why-we__button-work {
    margin-top: 57px;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.slide-why-we-blocks {

}
.slide-why-we-block {
    border: 3px solid #3a3a3a;
    background-color: #050000;
    font-weight: 600;
    color: #24ee9d;
    font-size: 1.125rem;
    padding: 44px 60px 44px 90px;
    margin-bottom: -3px;
    opacity: 0;
}

.slide-why-we-block:before {
    display: block;
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ff0000;
    top: calc(50% - 6px);
    margin-left: -30px;
}
.ww-block-1 {
    transform: translateX(180px) scale(0.95);
    transition: 0.5s;
}
.ww-block-2 {
    transform: translateX(-190px) scale(0.95);
    transition: 0.5s 0.4s;
}
.ww-block-3 {
    transform: translateX(190px) scale(0.95);
    transition: 0.5s 0.8s;
}

.slide-why-we.show .slide-why-we-block {
    opacity: 1;
}
.slide-why-we.show .ww-block-1 {
    transform: translateX(50px) scale(1);
}
.slide-why-we.show .ww-block-2 {
    transform: translateX(-60px) scale(1);
}
.slide-why-we.show .ww-block-3 {
    transform: translateX(70px) scale(1);
}

.slide-why-we__nav-bar {
    width: 100px;
    height: 100%;
    position: absolute;
    left: 12px;
    top: 0;
}

.slide-why-we__nav-buttons {
}

.slide-why-we__nav-button {
    font-family: 'la -solid -900', serif;
    font-size: 1.5rem;
    color: #050000;
    padding: 24px;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
}
.slide-why-we__nav-button {

}
.slide-why-we__nav-button-prev {
    background: #050000;
    color: #FFFFFF;
    right: 0;
    bottom: calc(25% + 72px);
}
.slide-why-we__nav-button-next {
    background: #FFFFFF;
    left: 100%;
    bottom: calc(25%);
}
.slide-why-we__nav-button:hover {
    background: #24ee9d;
    color: #050000;
}


/* ******* */

.questions-container {
    max-width: 870px;
    margin-top: 50px;
}

.questions__content {
    width: 100%;
}

.slide-questions__item {
    padding-bottom: 27px;
    border-bottom: 2px solid #e3e3e3;
    width: 100%;
    margin-bottom: 27px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}
.slide-questions__item.active {;
    border-bottom-color: #24ee9d;
}
.slide-questions__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.slide-questions__header-text {
    font-size: 1.125rem;
    line-height: 1.75rem;
    max-width: 700px;
}

.slide-questions__reply {
    color: #707070;
    margin-top: 20px;
    font-weight: 400;
    max-width: 700px;
    visibility: hidden;
    position: absolute;
    top: 0;
    opacity: 0;
    transform: scale(0.9);
    transition: 0.3s;
}

.slide-questions__item.active .slide-questions__reply {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}
.slide-questions__item-icon {
    font-family: 'la -solid -900', serif;
    font-size: 1.5rem;
    color: #24ee9d;
    cursor: pointer;
    transition: 0.2s;
    transform: rotate(45deg);
}

.slide-questions__item.active .slide-questions__item-icon {
    transform: rotate(0deg);
    color: #050000;
}

.slide-questions__item.active .slide-questions__reply {

}

/* ******* */

.ask-container {
    max-width: 870px;
}

.slide-ask .slide__title {
    font-size: 2.25rem;
    line-height: 2.875rem;
}
.ask__content {
    width: 100%;
}

.ask-form__checkbox-label {
    font-size: 0.875rem;
    color: #707070;
}

/* ******* */


.slide-footer {
    box-sizing: border-box;
    width: calc(100% - 24px);
    background: #050000;
    margin: 0 12px;
    z-index: 0;
    color: #b5b4b4;
    font-size: 0.875rem;
}
.footer-container {
    padding: 70px 0 32px 0;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 1fr;
    gap: 55px 0;
}
.footer__left-side {
}
.footer__right-side {
}
.footer__site-map {

}
.footer__site-map-link {
    display: block;
    color: #b5b4b4;
    margin-bottom: 5px;
}
.footer__site-map-link.accent {
    color: #24ee9d;
}

.footer__logos {
    margin-top: 64px;
}
.footer__logo {
    height: 67px;
    margin-left: 64px;
}
.footer__logo:first-child {
    margin-left: 0;
}

.footer__contact-link {
    display: block;
    margin-bottom: 27px;
    font-weight: 600;
    font-size: 2.25rem;
    color: #24ee9d;
}
.footer__social {
    margin-top: 28px;
    display: inline-grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 53px;
}
.footer__social-link {

}
.footer__social-icon {
    font-family: 'la -brands -400', serif;
    background-size: cover;
    font-size: 1.8rem;
    color: #FFFFFF;
    transition: 0.5s;
}

.footer__social-link-telegram:hover .footer__social-icon {
    color: #008aff;
}
.footer__social-link-youtube:hover .footer__social-icon {
    color: #ff0000;
}
.footer__social-link-instagram:hover .footer__social-icon {
    color: #ed27e6;
}
.footer__social-link-facebook:hover .footer__social-icon {
    color: #495aff;
}

.footer__copyright {
    color: #707070;
    font-size: 0.8125rem;
}
.footer__policy-link {
    color: #707070;
    font-size: 0.8125rem;
    transition: 0.2s;
    border-bottom: 1px solid transparent;
}
.footer__policy-link:hover {
    color: #FFFFFF;
    border-bottom-color: #24ee9d;
}

.footer__brand-links {
    margin-top: 80px;
    display: flex;
}
.footer__doc-link {
    display: flex;
    align-items: center;
    margin-left: 48px;
}
.footer__doc-link:first-child {
    margin-left: 0;
}
.footer__doc-link-icon {
    display: block;
    font-size: 0.6875rem;
    color: #ff0000;
    border-radius: 4px;
    border: 1px solid #ff0000;
    padding: 18px 2px 2px 2px;
    line-height: 1rem;
    margin-right: 14px;
}
.footer__doc-link-name {

}
.footer__doc-link .footer__doc-link-name span {
    font-size: 0.8125rem;
    color: #797979;
    border-bottom: 1px solid;
    transition: 0.2s;
}
.footer__doc-link:hover .footer__doc-link-name span {
    color: #FFFFFF;
    border-bottom-color: #24ee9d;
}

@media only screen and (max-width: 1100px) {
    .for-whom__block {
        padding: 22px 20px;
    }
    .for-whom__block-rects {
        width: 99px;
        height: 62px;
    }
    .for-whom__block-text {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .for-whom__text {
        margin-left: 40px;
    }
}
@media only screen and (max-width: 1000px) {
    header .header__logo {
        width: 110px;
        height: 50px;
    }
    header .main-menu {
        margin-left: 46px;
    }
    header .main-menu li {
        font-size: 0.9375rem;
        margin-right: 23px;
    }
    .slide-main__text-title {
        font-size: 2rem;
        line-height: 3rem;
    }
    .slide-main__text-subtitle {
        font-size: 1rem;
        line-height: 1.7;
        margin-top: 20px;
    }

    .slide-example__slider {
        width: 50vw;
        height: 28vw;
    }
}
@media only screen and (max-width: 900px) {
    .for-whom__text {
        margin-top: 0;
    }
    .for-whom__description {
        margin-top: 20px;
    }
    .for-whom__button-consultation {
        margin-top: 20px;
    }
    .analytics__text {
        margin-left: 40px;
        margin-top: 0;
    }
    .analytics__pie {
        max-width: 250px;
        padding: 15px;
    }
}
@media only screen and (max-width: 800px) {

    .main-menu {
        display: none;
    }
    .mobile-menu-button {
        display: block;
    }
    .regular-slide {
        margin: 100px 0;
    }
    .regular-container {
        max-width: 500px;
    }

    .slide-main__text {
        margin: 50px 0;
    }
    .slide-main__content {
        flex-direction: column-reverse;
    }
    .for-whom__content {
        display: block;
    }
    .for-whom__blocks {
        margin: 0 auto;
        max-width: 500px;
    }
    .for-whom__text {
        margin: 50px auto 0 auto;
        max-width: 500px;
    }

    .analytics__content {
        display: block;
    }
    .analytics__pie {
        max-width: none;
        padding: 40px;
    }
    .analytics__text {
        margin: 30px 0;
    }

    /* ************ */
    .slide-our-work__line {
        margin-top: 0;
    }
    #svg-work-line {
        display: none;
    }
    .our-work__content {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
    .our-work__step {
        position: relative;
        margin: 20px 0;
        padding-bottom: 20px;
        border-bottom: 2px solid #e3e3e3;
    }
    .our-work__step.active {
        border-bottom-color: #3FFFB2;
    }
    .our-work__picture {
        display: none;
    }
    .our-work__description {
        display: none;
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
    .our-work__step.active .our-work__description {
        display: block;
    }
    .our-work__header-name {
        font-size: 1.5rem;
        line-height: 2rem;
    }


    /* ************ */

    .slide-example__wrapper .regular-container {
        max-width: none;
        padding: 0 12px;
    }

    .slide-background__colored {
        background: transparent;
    }
    .slide-example__slider-wrapper {
        width: 100%;
    }
    .slide-example__slider {
        width: calc(100vw - 24px);
        height: 55vw;
    }
    .slide-example__text {
        max-width: 500px;
        margin: 50px auto;
    }
    .slide-example__nav {
        color: #050000;
    }
}